html {
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    position: relative;
}

.menu-container {
    text-align: center;
    width: 600px;
    position: relative;
}

.image-container {
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-title {
    text-align: center;
    color: white;
}

.highscore-list {
    background-color: rgba(48, 48, 48, 0.5);
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-height: 450px;
    overflow-y: auto;
}

.highscore-list ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.highscore-list li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 18px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.highscore-list li:last-child {
    border-bottom: none;
}

.username {
    font-weight: bold;
}

.score {
    font-weight: bold;
    color: #ffd700;
}

.button-container {
    margin-top: 20px;
}

.back-button {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #007bb5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #005f8b;
}

.highscore-list::-webkit-scrollbar {
    display: none;
}
